.reactPictureTagger-pictureContainer {
  position: relative;
}

.reactPictureTagger-pictureContainer img {
  max-width: 100%;
}

.reactPictureTagger-tag {
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  border: solid 2px;
}

.reactPictureTagger-tag:hover {
  opacity: 1;
  display:block;
}

.reactPictureTagger-tagName {
  color: white;
  font-weight: bold;
  padding: 3px;
}

.reactPictureTagger-tagControls {
  color: #666;
}

.reactPictureTagger-tagControls a {
  padding-right: 8px;
}
