.reactPictureTagger-pictureContainer {
  position: relative;
}

.reactPictureTagger-pictureContainer canvas {
  width: 100%;
}

.reactPictureTagger-tag {
  opacity: 0.6;
  position: absolute;
  border: solid 2px;
}

.reactPictureTagger-tag:hover {
  opacity: 1;
  display:block;
}

.reactPictureTagger-tagName {
  color: white;
  font-weight: bold;
  padding: 3px;
}

.reactPictureTagger-tagControls {
  color: #666;
}

.reactPictureTagger-tagControls a {
  padding-right: 8px;
}

.reactPictureTagger-newTag {
  position: absolute;
  border: dashed 2px orange;
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  font-weight:bold;
  padding:3px;
}

.reactPictureTagger-newTag-name {
  background-color: rgba(0,0,0, 0.8);
  color: white;
  width: 100%;
  min-width:120px;
  border: solid 1px #e7e7e7;
  font-weight: bold;
  padding: 3px;
}
